@page "/foro"

<MudContainer MaxWidth="MaxWidth.Large" Class="mt-4 mb-4 text-center">
    <div style="display: flex; align-items: center; justify-content: center;">
        <MudIcon Icon="@Icons.Material.Filled.Forum" Style="font-size: 3rem; margin-right: 0.5rem;" />
        <MudText Typo="Typo.h2"
                 Class="font-weight-bold"
                 Style="display: flex; align-items: center; font-family: 'Oswald', sans-serif; font-size: 3rem;">
            Foro
        </MudText>
    </div>
    <MudDivider Class="mt-2 mx-auto" Style="height: 3px; background-color: #D90429; width: 100px;" />
</MudContainer>

@code {

}
