<MudNavMenu>

    <MudNavLink Href="" Match="NavLinkMatch.All">
        <div style="display: flex; align-items: center; gap: 10px; font-family: 'Oswald', sans-serif; font-size: 18px;">
            <MudIcon Icon="@Icons.Material.Filled.Home" />
            Home
        </div>
    </MudNavLink>

    <MudNavLink Href="/exercises" Match="NavLinkMatch.Prefix">
        <div style="display: flex; align-items: center; gap: 10px; font-family: 'Oswald', sans-serif; font-size: 18px;">
            <MudIcon Icon="@Icons.Material.Filled.FitnessCenter" />
            Ejercicios
        </div>
    </MudNavLink>

    @if (Usuario != null)
    {
        <MudNavLink Href="/rutina" Match="NavLinkMatch.Prefix">
            <div style="display: flex; align-items: center; gap: 10px; font-family: 'Oswald', sans-serif; font-size: 18px;">
                <MudIcon Icon="@Icons.Material.Filled.CalendarMonth" />
                Rutina
            </div>
        </MudNavLink>
    }
    @if (Usuario?.Email == "Admin@admin.com")
    {
        <MudNavLink Href="/administracion" Match="NavLinkMatch.Prefix">
            <div style="display: flex; align-items: center; gap: 10px; font-family: 'Oswald', sans-serif; font-size: 18px;">
                <MudIcon Icon="@Icons.Material.Filled.AdminPanelSettings" />
                Administración
            </div>
        </MudNavLink>
    }

</MudNavMenu>

@code{
    [CascadingParameter]
    public Usuario? Usuario { get; set; }
}
