@page "/rutina"

@inject Services.AuthService AuthService
@inject Services.RutinaService RutinaService
@inject NavigationManager Navigation

<h3 class="mb-4">Mi Rutina Semanal</h3>

@if (usuario == null || rutina == null)
{
    <MudItem xs="12" Class="d-flex justify-center">
        <MudProgressCircular Color="Color.Primary" Style="height:70px;width:70px;" Indeterminate="true" />
    </MudItem>
}
else
{

}

@code {
    private Usuario? usuario;
    private List<EjercicioConDia>? rutina;

    protected override async Task OnInitializedAsync()
    {
        usuario = await AuthService.GetCurrentUser();
        if (usuario == null)
        {
            Navigation.NavigateTo("/login", forceLoad: true);
            return;
        }

        rutina = await RutinaService.GetEjerciciosConDiaUsuarioAsync(usuario.Id);
    }

}